Repository D3strukt0r/docker-spigot, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, docker

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'docker' label to any change to files within the docker dir and docker relevant files
docker:
  - docker/**/*
  - docker-compose.yml
  - Dockerfile

Update git ignore and attributes (with template)
  .gitattributes
  .gitignore
Labels: repo

Update editorconfig with template
  .editorconfig
Labels: repo

Use Matrix for CI
  .github/workflows/check-outdated.yml
  .github/workflows/ci-cd.yml
  .github/workflows/update-versions.yml
Labels: none

Use spigot-build as souce
  Dockerfile
Labels: repo, docker

Add compose for easier testing
  .gitignore
  docker-compose.yml
Labels: repo, docker

Fix buffer has to be in /tmp
  bin/console.sh
  docker/console.sh
  docker/interactive_console.sh
Labels: docker

refactor: move bin/ scripts into docker/
  docker/console.sh
  docker/docker-entrypoint.sh
Labels: docker

Use default entrypoint layout (with custom output and docker secrets)
  bin/docker-entrypoint.sh
  docker/docker-entrypoint.sh
Labels: docker

Fix CI variable not set
  .github/workflows/ci-cd.yml
Labels: none
